body {
	background: linear-gradient(#b8b3be, #bfd0e0);
	background-repeat: no-repeat;
	min-height:100vh;
}

.header h2 {
	color: #495867;
	font-family: fantasy, sans-serif;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}



